:root {
  --grey-lighten-2: #e0e0e0;
  --grey-darken-4: #212121;
  --indigo-darken-4: #1a237e;
  --yellow-darken-3: #f9a825;
  --grey-lighten-5: #fafafa;
}

/* font-family: 'Josefin Sans', sans-serif;  wght@600
font-family: 'Limelight', cursive;
font-family: 'Montserrat', sans-serif;   ital,wght@1,300
font-family: 'Roboto', sans-serif; */

.nav-wrapper {
  background-color: var(--grey-darken-4);
  font-family: "Limelight", cursive;
}

.nav-wrapper a {
  color: var(--grey-lighten-2);
}

body {
  background: url(../images/CINEMA_SEATS.jpg) no-repeat center fixed;
  background-size: cover;
}

.title {
  font-family: "Montserrat", sans-serif;
  color: var(--grey-lighten-2);
}

h5 {
  font-family: "Roboto", sans-serif;
  color: var(--grey-lighten-2);
}

h4 {
  font-family: "Roboto", sans-serif;
  color: var(--grey-lighten-2);
  text-align: center;
}

/* styling for the Favorites Page */

.card {
  background-color: var(--grey-darken-4);
}

.card p {
  color: var(--grey-lighten-2);
}

.card-contents {
  text-align: center;
}

.card-content::-webkit-scrollbar {
  display: none;
}

#picks {
  padding: 40px;
}

/* This controls the size of the poster image */

.card img {
  width: auto;
  height: 200px;
  object-fit: cover;
}

/* This controls the droppable area. */

ul.list-group {
  height: 220px;
  background-color: var(--indigo-darken-4);
}

ul#consider {
  background-color: var(--grey-darken-4);
  height: 70vh;
}
